<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <nav>
            <ul class="navigation">
                <li><a href="/">Index</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>

        <div class="container">
            {{ content }}
        </div>

        <footer>
            Generic tech blog #239872341
        </footer>
    </body>
</html>
