<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/code.css">
    </head>

    <body>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <div class="container-fluid main-container">
             <nav>
                <ul class="navigation">
                    <li><a href="/">Index</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/writeups">Writeups</a></li>
                </ul>
            </nav>
           <div id="header" class="fluid-row">
                <h1 class="title toc-ignore">{{ page.title }}</h1>
                <h4 class="author">{{ page.author }}</h4>
                <h4 class="date">{{ page.date | date_to_string }}</h4>
            </div>

            {{ content }}

            <footer>
                Generic tech blog #239872341
            </footer>
        </div>
    </body>
</html>
